<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{admin/layout/adminLayout}">
<th:block layout:fragment="content">

    <div class="member_con">
      <h4>회원관리</h4>
      <div class="member_list">
        <table class="top_tab">

          <form id="searchForm" method="post">
            <input type="hidden" name="totalSize" id="totalSize" value="">
            <input type="hidden" name="pageSize" id="pageSize" value="">
            <input type="hidden" name="size" id="size" value="10">
            <input type="hidden" name="page" id="page" value="1">
            <input type="hidden" name="r1" id="r1" value="">
            <input type="hidden" name="ucode" id="ucode">
            <input type="hidden" name="memorial" id="memorial">
            <tr id="partner_select">
              <th>업체선택</th>
              <td>
                <select name="ptLinkCode" id="ptLinkCode">
                  <option value="">업체 선택</option>
                </select>
              </td>
            </tr>
            <tr id="member_search">
              <th>검색</th>
              <td>
                <select name="keyType" id="keyType">
                  <option value="">전체</option>
                  <option value="name">이름</option>
                  <option value="mobileNo">연락처</option>
                </select>
                <input type="text" name="keyValue" id="keyValue"/>
              </td>
            </tr>
            <tr>
              <th>기간 설정</th>
              <td>
                <input type="date" id="startDate" name="startDate">
                <span> ~ </span>
                <input type="date" id="endDate" name="endDate">
              </td>
            </tr>
          </form>

            <tr>
              <td id="search" colspan="2">
                <button id="search_bt">검색</button>
                <button id="reset_bt">초기화</button>
                <button id="excel_bt">엑셀 다운로드</button>
              </td>
            </tr>
        </table>

        <table class="bottom_tab">
          <thead>
            <tr>
              <th>MEMORIALCODE</th>
              <th>이름</th>
              <th>업체명</th>
              <th>등록일자</th>
              <th>장례날짜</th>
              <th>연락처</th>
              <th>모바일 추모관 URL</th>
              <th>설정</th>
            </tr>
          </thead>
          <tbody id="memberList">

          </tbody>
        </table>
        <table class="page_tab">
          <tbody id="pageZone">

          </tbody>
        </table>
      </div>
    </div>


  <script th:src="@{/js/admin/member.js}"></script>
</th:block>
</html>
