<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{admin/layout/adminLayout}">
<th:block layout:fragment="content">

    <div class="partner_con">
      <h4>업체 관리</h4>
      <div class="partner_list">
        <table class="top_tab">
            <tr id="partner_select">
              <th>업체선택</th>
              <td>
                <select name="ptLinkCode" id="ptLinkCode">
                  <option value="">업체 선택</option>
                </select>
              </td>
            </tr>
          <form id="searchForm" method="post">
            <input type="hidden" name="totalSize" id="totalSize" value="">
            <input type="hidden" name="pageSize" id="pageSize" value="">
            <input type="hidden" name="size" id="size" value="10">
<!--            <input type="hidden" name="page" id="page" value="">-->
            <input type="hidden" name="page" id="page" value="1">
            <input type="hidden" name="r1" id="r1" value="">
            <tr id="partner_search">
              <th>검색</th>
              <td>
                <input type="text" id="ptName" name="ptName" placeholder="업체명을 입력해주세요."/>
                <input type="hidden" id="searchCode" name="ptLinkCode">
              </td>
            </tr>
          </form>
            <tr>
              <td colspan="2" id="new_submit">
                <button id="searchBtn">검색</button>
                <a id="newPartnerBtn">
                  <button>신규등록</button>
                </a>
              </td>
            </tr>
        </table>

        <table class="bottom_tab">
          <thead>
            <tr>
              <th>업체링크코드</th>
              <th>업체아이디</th>
              <th>업체명</th>
              <th>연락처</th>
              <th>설정</th>
            </tr>
          </thead>
          <tbody id="partnerList">

          </tbody>
        </table>
        <table class="page_tab">
          <tbody id="pageZone">

          </tbody>
        </table>
      </div>
    </div>
  <form id="partnerForm" method="get">
    <input type="hidden" name="ptlCode" id="ptlCode">
  </form>


  <script th:src="@{/js/admin/partner.js}"></script>
</th:block>
</html>
