html,
body {
  max-width: 580px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "NanumEongGeongKwiCe";
}

.comment {
  position: relative;
  margin: 0 auto;
  color: #2b2a2a;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#comment_save {
    width: 100%;
    margin: 60px auto 20px;
    text-align: center;
    cursor: pointer;
}

#comment_save a:hover {
  cursor: pointer;
}

#comment_save img {
    width: 325px;
}

.comment_container{
    width: 325px;
    background-color: #edebeb;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.comment_balloon {
    font-size: 11px;
    width: 280px;
    background-color: #fff;
    margin: 15px auto ;
    border-radius: 10px;
    justify-content: center; 
    /* align-items: center; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.comment_balloon p {
  width: 90%;
  margin-top: -10px;
}
