html,
body {
  max-width: 580px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "NanumMyeongjoYetHangul";
}

.mobile_container {
  position: relative;
  margin: 0 auto;
  color: #8d8d8d;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head {
  position: relative;
  max-width: 100%;
}

.head aside > img {
  width: 100%;
}

/* 타이틀 텍스트에 네모칸 생성 스타일 */
.titleHelper {
  text-align: center;
}

.title {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  font-weight: 100;
  display: inline-block;
  position: relative;
}
.char-box {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: top;
}
.char-box::after {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ffa1a1;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.space-box {
  width: 0.5em;
}
.space-box::after {
  content: "\00A0";
  background: none;
}

.videoTitle::before,
.videoTitle::after,
.title::before,
.title::after,
.letterT::before,
.letterT::after {
  content: "";
  position: absolute;
  left: 0;
  width: 101%;
  height: 1px;
  background: #ffa1a1;
}

.title2gTwo::before,
.title2gTwo::after {
  content: "";
  position: absolute;
  left: 0;
  width: 101%;
  height: 2px;
  background: #ffa1a1;
}

.title::before {
  top: 17px;
}

.title::after {
  bottom: 15px;
}

.letterT::before {
  top: 11px;
}
.letterT::after {
  bottom: 9px;
}

.videoTitle::before {
  top: 13px;
}

.videoTitle::after {
  bottom: 11px;
}

.title2gTwo::before {
  top: 50px;
}

.title2gTwo::after {
  bottom: 48px;
}
/* ----------------------------------------여기까지 */

#main_img {
  position: relative;
  margin-top: 20px;
}

#main_photo_bg img {
  position: absolute;
  z-index: 2;
}

#main_photo {
  width: 52%;
  margin: 0 auto;
  padding-top: 4%;
}

#main_photo img {
  display: block;
  width: 100%;
  z-index: 1;
  padding-top: 5%;
}

.middle {
  margin-top: 70px;
  text-align: center;
  width: 100%;
}

#letter {
  width: 100%;
  height: auto;
  position: relative;
  margin: 50px auto;
  background-image: url("/img/front/letter02.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.letterHelper {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.letterT {
  text-align: center;
  display: inline-block;
  position: relative;
  color: #8d8d8d;
}

.letterT p {
  width: auto;
}

#letter_text {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  line-height: 30px;
  max-height: 300px;
  color: #8d8d8d;
}

#letter_text span {
  display: inline-block;
  position: relative;
  border: 1px solid #ffa1a1;
  border-radius: 50%;
  padding: 3px;
  text-decoration: underline;
  text-decoration-color: #ffa1a1;
  margin-top: 10px;
}
#letter_text span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid #ffa1a1;
  border-radius: 50%;
}

.d_day {
  padding-top: 10px;
  font-size: 1.2em;
  color: #8d8d8d;
}

.d_day span {
  color: #ffa1a1;
}

/* 추가 비디오 타이틀 */
.videoTitle {
  margin-top: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #8d8d8d;
}

.videoTitle p {
  text-align: center;
  font-size: 1.1rem;
  /* letter-spacing: 10px; */
  padding: 0;
}

.videoHelper {

  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#countDate {
  color: #ffa1a1;
}

#video {
  position: relative;
  /* margin-top: 20px; */
}

/* #video img {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 50%;
} */

#video_player {
  width: 100%;
  margin: 0px auto;
  /* border: 2px solid #ffa1a1; */
  margin-top: 35px;
  padding: 0;
}

#video_player video {
  margin: 0 auto;
  display: block;
  width: 75%;
  /* z-index: -1; */
  border: 2px solid #ffa1a1;
  /* overflow: hidden; */
}

#video_player video:hover {
  cursor: pointer;
}

#video_player video:-webkit-full-screen {
  width: 100%;
  height: 100%;
  padding-top: 0;
  border: none;
}

#video_player video:-moz-full-screen {
  width: 100%;
  height: 100%;
  padding-top: 0;
  border: none;
}

#video_player video:-ms-fullscreen {
  width: 100%;
  height: 100%;
  padding-top: 0;
  border: none;
}

#video_player video:fullscreen {
  width: 100%;
  height: 100%;
  padding-top: 0;
  border: none;
}

.bottom {
  width: 70%;
  margin: 30px auto;
  padding-top: 20px;
  text-decoration: none;
}

.bottom div img {
  padding-top: 3%;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

#footer_btn {
  margin:0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #FFB8B8;
  color: #464444a1;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}


#sakuraCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}

/* 이미지 다운 버튼 스타일 */
.imgDownload {
  margin-top: 8%;
  width: 100%;
  height: 60px;
  text-align: center;
  font-weight: lighter;
  background-color: white;
  border-top: 1px solid #ffa1a1;
  color: #8d8d8d;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-style: none; */
}




/* 여기부터 2g이미지 영역 */

.mobile_container2G {
  width: 1280px;
  height: 1280px;
  position: relative;
  margin: 0 auto;
  color: #2b2a2a;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none;
}

.petcineLogo {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
}
.petcineLogo img {
  width: 120px;
  opacity: 0.6;
}

.title2gHelper {
  width: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2g {
  overflow: hidden;
  margin-top: 80px;
  width: 62%; /* 앱솔루트 때문에 텍스트 길이에 따라 변경해야함 */
  /* display: inline-block; */
}
.title2gTwo {

  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  display: inline-block;
  position: relative;
  width: 100%;
}




#main_photo_bg2g img {
  overflow: hidden;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  /* opacity: 0.6; */
}

#main_photo2g {
  width: 48%;
  margin: 0 auto;
}

#main_photo2g img {
  display: block;
  width: 100%;
  z-index: 1;
  padding-top: 49%;
}

.partnerLogo {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-bottom: 0;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnerLogo img {
  height: 100px;
  filter: drop-shadow(6px 5px 5px #4b4b4b69);
}

.char-box2g {
  display: inline-block;
  position: relative;
  margin: 0px;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: top;
}
.char-box2g::after {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ffa1a1;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.space-box2g {
  width: 0.5em;
}
.space-box2g::after {
  content: "\00A0";
  background: none;
}


/* .flowerBg {
  background-image: url("../../../html/mobile/memorialHall01/src/img/particle.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding:0;
  margin:0;
  z-index: 3;
} */
