body {
    /* position: relative; */
    max-width: 430px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}   

.pageWrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.uploadComplete {
    width: 90%;
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.completeText {
    font-size: 1.5rem;
    font-weight: 500;
}

.noticeText {
    font-size: 1rem;
}

.noticeText > span {
    color: #ff0000;
    font-weight: bold;
}