<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="configFragment">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>petcine</title>
        <script th:inline="javascript" type="text/javascript" th:src="@{/js/library/jquery-3.7.1.min.js}"></script>
        <script th:inline="javascript" type="text/javascript" th:src="@{/js/common.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <link th:inline="css" rel="stylesheet" th:href="@{/css/common.css}">
</th:block>
</html>