<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header id="adminHeader" class="inlineDisplay">
        <div class="header_con">
            <nav class="headerNav">
                <ul>
                    <li>
                        <div id="homeBtn" style="cursor: pointer" class="partner_name"><h3 th:text="${session.ptName}"></h3></div>
                    </li>
                    <li class="menu">
                        <button id="logoutBtn">
                            <a><span>로그아웃</span></a>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
<script th:src="@{/js/partner/partnerAdminHeader.js}"></script>
</th:block>
</html>