<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{partner/layout/partnerAdminLayout}">
<th:block layout:fragment="content">
  <link th:href="@{/css/partner/partner_admin_detail.css}" rel="stylesheet" />
    <header>
      <div id="partner_header"></div>
    </header>
    <div class="member_detail_con">
      <h4>고객상세 페이지</h4>
      <div class="member_detail">
        <table class="member_detail_tab">
          <tr class="first-line">
            <th>고객이름</th>
            <td id="uname"></td>
            <th>반려동물 이름</th>
            <td id="petName"></td>
          </tr>
          <tr class="first-line">
            <th>신청날짜</th>
            <td id="regDate"></td>

            <th>연락처</th>
            <td id="mobileNo"></td>
          </tr>
          <tr class="second-line">
            <th>제작 URL</th>
            <td colspan="3">
              <a href="" class="memorial_url" id="createUserUrl"></a>
              <button class="url_copy_bt" id="createUrlCopyBtn">URL복사</button>
            </td>
          </tr>
          <tr class="second-line">
            <th>추모관 URL</th>
            <td colspan="3">
              <a href="" class="memorial_url" id="funeralUrl"></a>
              <button class="url_copy_bt" id="funeralUrlCopyBtn">URL복사</button>
            </td>
          </tr>
          <tr class="second-line">
            <th>비고</th>
            <td class="note" colspan="5">
              <textarea id="memo"></textarea>
            </td>
          </tr>
          <tr>
            <td id="edit" colspan="6">
              <button id="video_down_bt"><a id="videoUrl" download>추모영상 다운받기</a></button>

              <button id="list_bt">목록</button>
            </td>
          </tr>
        </table>

        <table class="memorialhallComments">
          <caption>추모장 댓글</caption>

          <tbody id="commentList">

          </tbody>
        </table>


      </div>
    </div>

  <input id="memorialCode" type="hidden" th:value="${memorialCode}">
  <script th:src="@{/js/partner/partnerAdminDetail.js}"></script>

</th:block>
</html>
