<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{partner/layout/partnerAdminLayout}">
  <th:block layout:fragment="content">

    <div class="container">
      <div>
        <img th:src="@{/img/logo.png}" alt="Logo" />
      </div>
      <div>
        <span>업체용</span>
      </div>
      <input type="text" placeholder="ID" id="id"/>
      <br />
      <input type="password" placeholder="PW" id="pwd"/>
      <br />
      <a>
        <button class="loginBT" id="loginBtn">
          LOGIN
        </button>
      </a>
    </div>
  <script th:src="@{/js/partner/partnerAdminLogin.js}"></script>
  </th:block>
</html>
