html {
  margin: 0 auto;
}

@media all and (min-width: 769px) {
.member_detail_con {
  width: 840px;
  margin: 30px auto;
}

.member_detail_con h4 {
  padding-left: 20px;
}

.member_detail {
  border: 0.5px solid #8d8d8d;
  background-color: #eeeeee;
  font-size: 12px;
  border-radius: 5px;
}

.member_detail_tab {
  border-collapse: collapse;
  border: 0.5px solid #8d8d8d;
  margin: 30px auto;
  width: 780px;
}


tr th,
td {
  border: 0.5px solid #8d8d8d;
  background-color: #f8f8f8;
}

th {
  padding: 15px 13px;
}

td {
  text-align: center;
}

td input {
  width: 140px;
  height: 20px;
}

.memorial_url {
  color: #0094ff;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-top: 6px;
}

#edit {
  padding: 15px 13px;
  text-align: center;
}

.note {
  padding: 15px 13px;
  text-align: center;
}

textarea {
  width: 99%;
  height: 130px;
}

.url_copy_bt {
  border-style: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #9a9a9a;
  float: right;
  margin-right: 20px;
}

#edit_bt {
  background-color: #9a9a9a;
}

#list_bt {
  background-color: #d9d9d9;
}

#video_down_bt {
  width: 150px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cba9cd;
}
#list_bt {
  width: 80px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d9d9d9;
}

.memorialhallComments {
  border-collapse: collapse;
  border: 0.5px solid #8d8d8d;
  margin: 30px auto;
  width: 780px;
}

.memorialhallComments caption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.comments {
  width: 60%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.comments > input {
  width: 100%;
}
.commentsBtn > div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  gap: 10px;
  margin: 0;
  flex-direction: row;
  /* border-style: none; */
}

.commentsBtn button {
  padding: 0;
  margin: 0;
  border-style: none;
  cursor: pointer;
  font-size: 0.8rem;
  width: 50px;
  height: 27px;
  border-radius: 5px;
  background-color: #9a9a9a;
}

.commentsBtn button:last-child {
  background-color: rgb(224, 28, 28);
  color: white;
  border-style: none;
}
}

@media all and (max-width: 768px) {
  .member_detail_con {
    width: 90%;
    margin: 30px auto;
  }
  
  .member_detail_con h4 {
    padding-left: 20px;
    font-size: 1rem;
  }
  
  .member_detail {
    border: 0.5px solid #8d8d8d;
    background-color: #eeeeee;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 10px;
  }
  
  .member_detail_tab {
    border-collapse: collapse;
    border: 0.5px solid #8d8d8d;
    width: 100%;


  }
  tbody {
    width: 100%;
  }

  .first-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .second-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .first-line > th {
    width: 25%;

  }
  .first-line > td {
    width: 25%;
  }

  .second-line > th {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-line > td {
    width: 75%;
  }

  /*.member_detail_tab tr {*/
  /*  width: 100%;*/
  /*}*/

  /*.member_detail_tab th {*/
  /*  width: 25%;*/
  /*}*/

  /*.member_detail_tab tr {*/
  /*  width: 25%;*/
  /*}*/
  
  tr th,
  td {
    border: 0.5px solid #8d8d8d;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 0.8rem;
    flex-grow: 1;
  }
  
  th {
    padding: 10px;
    text-align: center;
  }
  
  td {
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  td input {
    width: 100%;
    height: 30px;
  }
  
  .memorial_url {
    color: #0094ff;
    font-weight: bold;
    display: block;
    word-break: break-all;
  }
  
  #edit {
    padding: 10px;
    text-align: center;
  }
  
  .note {
    padding: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
  }
  
  .url_copy_bt,
  #video_down_bt,
  #list_bt {
    border-style: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #9a9a9a;
    color: black;
  }
  
  #list_bt {
    background-color: #d9d9d9;
  }
  
  #video_down_bt {
    background-color: #cba9cd;
  }

  .memorialhallComments {
    border-collapse: collapse;
    border: 0.5px solid #8d8d8d;
    margin: 30px auto;
    width: 100%;
  }


  #commentList > tr {
    display: flex;
    flex-direction: row;
  }

  #commentList > tr > th {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
  .memorialhallComments caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .comments {
    width: 60%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .comments > input {
    width: 100%;
  }
  .commentsBtn {
    width: 20%;
  }
  .commentsBtn > div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
    gap: 10px;
    margin: 0;
    flex-direction: column;
    /* border-style: none; */
  }
  
  .commentsBtn button {
    padding: 0;
    margin: 0;
    border-style: none;
    cursor: pointer;
    font-size: 0.8rem;
    width: 50px;
    height: 27px;
    border-radius: 5px;
    background-color: #9a9a9a;
  }
  
  .commentsBtn button:last-child {
    background-color: rgb(224, 28, 28);
    color: white;
    border-style: none;
  }
}