<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{front/layout/frontLayout}">
<th:block layout:fragment="content">
  <link th:href="@{/css/front/comment.css}" rel="stylesheet"/>
    <div class="comment">
      <div id="comment_save">
        <a>
          <img th:src="@{/img/front/comment_save.png}" />
        </a>
      </div>
      <div class="comment_container" id="commentList">
      </div>
    </div>
<script th:src="@{/js/front/comment.js}"></script>
</th:block>
</html>
