<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{front/layout/frontLayout}">
<th:block layout:fragment="content">
    <link th:inline="css" rel="stylesheet" th:href="@{/css/front/uploadComplete.css}">

    <div class="pageWrapper">
        <div class="uploadComplete">
            <p class="completeText">업로드가 완료되었습니다.</p>
<!--            <p class="noticeText">추모장은 <span>12시간 후</span>에 남겨주신 번호로 문자 발송됩니다.</p>-->
        </div>
    </div>
    <script th:src="@{/js/front/uploadComplete.js}"></script>
</th:block>
</html>