<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header id="adminHeader" class="inlineDisplay">
        <div class="header_con">
            <nav class="headerNav">
                <ul>
                    <li>
                        <a href="/"><img class="headerImg" th:src="@{/img/logo.png}" alt="Logo"></a>
                    </li>
                    <li class="menu">
                        <a href="/admin/member/goMemberPage">회원관리</a>
                    </li>
                    <li class="menu">
                        <a href="/admin/partner/goPartnerPage">업체관리</a>
                    </li>
                    <li class="menu">
                        <button class="headerButton" id="logoutBtn">
                            <a><span>로그아웃</span></a>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <input id="codeLogout" th:value="${session.acode}" type="hidden">
    </header>
<script th:src="@{/js/header.js}"></script>
</th:block>
</html>